.footer {
  height: 10rem;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .mail a {
  color: #fff;
  text-decoration: none;
}

.footer .links {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.footer .links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.footer span {
    color: #fff;
}
