* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Syne", sans-serif;
}

p {
  font-family: "Lato", sans-serif; 
}

button, a, input {
    font-family: "Montserrat", sans-serif;
}

small, strong, label {
    font-family: "Inter", sans-serif;
}